{{- $decrypt_private := promptBoolOnce . "decrypt_private" "Déchiffrer les configurations privées (nécessite la clé age)" -}}
{{- $age_key := "" -}}
{{- if $decrypt_private -}}
{{-   $age_key = promptStringOnce . "age_key" "Clé secrète age (AGE-SECRET-KEY-...)" -}}
{{- end -}}

{{ if $decrypt_private -}}
encryption = "age"

[age]
  command = "{{ .chezmoi.homeDir }}/bin/age"
  identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient = "age1upmjypmztz83w8ahd7wqa9n5twq6z0g9fn8nthmnyu3qd3j6ea2sjm63vy"

[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/.setup-age.sh"
{{ end -}}

[data]
  name = "Nathanaël Derousseaux"
  email = "n.derousseaux@icloud.com"
  decrypt_private = {{ $decrypt_private }}
{{- if $decrypt_private }}
  age_key = {{ $age_key | quote }}
{{- end }}
