[user]
        name = {{ .name }}
        email = {{ .email }}

[merge]
        ff = no

[alias]
        yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
        install-hooks = "!f() { \
                TEMPLATE=\"$HOME/.config/git/template/hooks\"; \
                DEST=\"$(git rev-parse --git-path hooks)\"; \
                mkdir -p \"$DEST\"; \
                cp -a \"$TEMPLATE/\"* \"$DEST/\" 2>/dev/null || true; \
                chmod +x \"$DEST/\"* 2>/dev/null || true; \
                echo \"Hooks installés depuis $TEMPLATE vers $DEST\"; \
        }; f"
        work-email = !git config user.email "{{ .workEmail }}" && echo "Email set to work address"
        perso-email = !git config user.email "{{ .email }}" && echo "Email set to personal address"
    push-force = "!f() { \
        WEBHOOK_URL=\"https://discord.com/api/webhooks/1466372328089718836/DQALswaQP8RzTh9xoGin-FXa-Ipv8PEdbwOvGMNacFibBhjEtyTCP6WwQkwbBzVp59lM\"; \
        MESSAGE=\"🚨 Mélissa a (encore) fait un git push --force, honte à elle 🚨\"; \
        curl -s -H \"Content-Type: application/json\" -X POST -d \"{\\\"content\\\": \\\"$MESSAGE\\\"}\" \"$WEBHOOK_URL\" >/dev/null 2>&1; \
        git push --force \"$@\"; \
    }; f"


[core]
        editor = vim
        excludesfile = ~/.config/git/ignore
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[branch]
        autosetuprebase = always
[init]
        templateDir = ~/.config/git/template
