[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[core]
  editor = vim
  autocrlf = input
  pager = less -FRX

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = current

[fetch]
  prune = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[rerere]
  enabled = true

[color]
  ui = auto

[alias]
  st = status -sb
  co = checkout
  br = branch
  ci = commit
  amend = commit --amend --no-edit
  unstage = reset HEAD --
  last = log -1 HEAD
  lg = log --oneline --graph --decorate --all
  wip = !git add -A && git commit -m 'WIP'
  undo = reset --soft HEAD~1
  aliases = config --get-regexp alias
  branches = branch -a
  tags = tag -l
  stashes = stash list
  cleanup = !git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d
