{{ if eq .chezmoi.os "darwin" -}}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config
{{ end -}}

Host *
  AddKeysToAgent yes
  IPQoS throughput

Include ~/.ssh/config.d/perso
Include ~/.ssh/config.d/git
Include ~/.ssh/config.d/pro
